@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Ubuntu, sans-serif;
  font-family: "Ubuntu", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  color: #fff;
  background-color: #18294f;
}

header h1 {
  display: block;
  color: #fff;
  background-color: #18294f;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}
